# Node (React frontend)
agrimak_frontend/logs
agrimak_frontend/*.log
agrimak_frontend/npm-debug.log*
agrimak_frontend/yarn-debug.log*
agrimak_frontend/yarn-error.log*
agrimak_frontend/pnpm-debug.log*
agrimak_frontend/lerna-debug.log*
agrimak_frontend/node_modules
agrimak_frontend/dist
agrimak_frontend/dist-ssr
agrimak_frontend/*.local
agrimak_frontend/.vscode/*
agrimak_frontend/!.vscode/extensions.json
agrimak_frontend/.idea
agrimak_frontend/.DS_Store
agrimak_frontend/*.suo
agrimak_frontend/*.ntvs*
agrimak_frontend/*.njsproj
agrimak_frontend/*.sln
agrimak_frontend/*.sw?
agrimak_frontend/.env


# .NET (backend)
agrimak_backend/bin/
agrimak_backend/obj/
agrimak_backend/.vs/
agrimak_backend/.vscode/
agrimak_backend/*.user
agrimak_backend/*.suo
agrimak.domain/bin/
agrimak.domain/obj/
agrimak.domain/.vs/
agrimak.domain/.vscode/
agrimak.domain/*.user
agrimak.domain/*.suo