# Node (React frontend)
agrimak.frontend/logs
agrimak.frontend/*.log
agrimak.frontend/npm-debug.log*
agrimak.frontend/yarn-debug.log*
agrimak.frontend/yarn-error.log*
agrimak.frontend/pnpm-debug.log*
agrimak.frontend/lerna-debug.log*
agrimak.frontend/node_modules
agrimak.frontend/dist
agrimak.frontend/dist-ssr
agrimak.frontend/*.local
agrimak.frontend/.vscode/*
agrimak.frontend/!.vscode/extensions.json
agrimak.frontend/.idea
agrimak.frontend/.DS_Store
agrimak.frontend/*.suo
agrimak.frontend/*.ntvs*
agrimak.frontend/*.njsproj
agrimak.frontend/*.sln
agrimak.frontend/*.sw?
agrimak.frontend/.env


# .NET (backend)
agrimak.backend/agrimak.API/bin/
agrimak.backend/agrimak.API/obj/
agrimak.backend/agrimak.API/.vs/
agrimak.backend/agrimak.API/.vscode/
agrimak.backend/agrimak.API/*.user
agrimak.backend/agrimak.API/*.suo
agrimak.backend/agrimak.Domain/bin/
agrimak.backend/agrimak.Domain/obj/
agrimak.backend/agrimak.Domain/.vs/
agrimak.backend/agrimak.Domain/.vscode/
agrimak.backend/agrimak.Domain/*.user
agrimak.backend/agrimak.Domain/*.suo