# Node (React frontend)
agrimak.frontend/logs
agrimak.frontend/*.log
agrimak.frontend/npm-debug.log*
agrimak.frontend/yarn-debug.log*
agrimak.frontend/yarn-error.log*
agrimak.frontend/pnpm-debug.log*
agrimak.frontend/lerna-debug.log*
agrimak.frontend/node_modules
agrimak.frontend/dist
agrimak.frontend/dist-ssr
agrimak.frontend/*.local
agrimak.frontend/.vscode/*
agrimak.frontend/!.vscode/extensions.json
agrimak.frontend/.idea
agrimak.frontend/.DS_Store
agrimak.frontend/*.suo
agrimak.frontend/*.ntvs*
agrimak.frontend/*.njsproj
agrimak.frontend/*.sln
agrimak.frontend/*.sw?
agrimak.frontend/.env


# .NET (backend)
agrimak.backend/bin/
agrimak.backend/obj/
agrimak.backend/.vs/
agrimak.backend/.vscode/
agrimak.backend/*.user
agrimak.backend/*.suo
agrimak.domain/bin/
agrimak.domain/obj/
agrimak.domain/.vs/
agrimak.domain/.vscode/
agrimak.domain/*.user
agrimak.domain/*.suo